<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>

    <logger name="com.zaxxer.hikari" level="OFF"/>
    <logger name="org.apache.catalina" level="OFF"/>
    <logger name="org.apache.tomcat" level="OFF"/>
</configuration>